In [9]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import bokeh
import plotly

In [10]:
df = pd.read_csv('car.csv')

In [11]:
import re

def has_no_capital_letters(text):
    return not bool(re.search(r'[A-Z]', text))

bad_make_labels=[make for make in df['make'].dropna().unique() if has_no_capital_letters(make)]
make_labels_dict={bad_make_label:bad_make_label.title() for bad_make_label in bad_make_labels}
make_labels_dict

{'lincoln': 'Lincoln',
 'bmw': 'Bmw',
 'ford': 'Ford',
 'mitsubishi': 'Mitsubishi',
 'smart': 'Smart',
 'chevrolet': 'Chevrolet',
 'chrysler': 'Chrysler',
 'pontiac': 'Pontiac',
 'landrover': 'Landrover',
 'cadillac': 'Cadillac',
 'land rover': 'Land Rover',
 'mercedes': 'Mercedes',
 'mazda': 'Mazda',
 'toyota': 'Toyota',
 'lexus': 'Lexus',
 'gmc truck': 'Gmc Truck',
 'honda': 'Honda',
 'nissan': 'Nissan',
 'porsche': 'Porsche',
 'dodge': 'Dodge',
 'subaru': 'Subaru',
 'oldsmobile': 'Oldsmobile',
 'hyundai': 'Hyundai',
 'jeep': 'Jeep',
 'dodge tk': 'Dodge Tk',
 'acura': 'Acura',
 'volkswagen': 'Volkswagen',
 'suzuki': 'Suzuki',
 'kia': 'Kia',
 'audi': 'Audi',
 'gmc': 'Gmc',
 'maserati': 'Maserati',
 'mazda tk': 'Mazda Tk',
 'mercury': 'Mercury',
 'buick': 'Buick',
 'hyundai tk': 'Hyundai Tk',
 'mercedes-b': 'Mercedes-B',
 'vw': 'Vw',
 'chev truck': 'Chev Truck',
 'ford tk': 'Ford Tk',
 'plymouth': 'Plymouth',
 'ford truck': 'Ford Truck',
 'airstream': 'Airstream',
 'dot': 'Dot'}

In [12]:
df['make']=df['make'].apply(lambda x:make_labels_dict[x] if x in make_labels_dict else x)
make_labels_dict_2={
    'Bmw':'BMW',
    'Ford Tk':'Ford Truck',
    'Gmc':'GMC',
    'Gmc Truck':'GMC Truck',
    'Landrover':'Land Rover',
    'Mercedes-B':'Mercedes-Benz',
    'Mercedes':'Mercedes-Benz',
    'Vw':'Volkswagen',
}

df['make']=df['make'].apply(lambda x:make_labels_dict_2[x] if x in make_labels_dict_2 else x)

df['make']=df['make'].str.replace(' Tk', ' Truck',regex=True)

df['make'].unique()

array(['Kia', 'BMW', 'Volvo', 'Nissan', 'Chevrolet', 'Audi', 'Ford',
       'Hyundai', 'Buick', 'Cadillac', 'Acura', 'Lexus', 'Infiniti',
       'Jeep', 'Mercedes-Benz', 'Mitsubishi', 'Mazda', 'MINI',
       'Land Rover', 'Lincoln', 'Jaguar', 'Volkswagen', 'Toyota',
       'Subaru', 'Scion', 'Porsche', nan, 'Dodge', 'FIAT', 'Chrysler',
       'Ferrari', 'Honda', 'GMC', 'Ram', 'Smart', 'Bentley', 'Pontiac',
       'Saturn', 'Maserati', 'Mercury', 'HUMMER', 'GMC Truck', 'Saab',
       'Suzuki', 'Oldsmobile', 'Isuzu', 'Dodge Truck', 'Geo',
       'Rolls-Royce', 'Mazda Truck', 'Hyundai Truck', 'Daewoo',
       'Chev Truck', 'Ford Truck', 'Plymouth', 'Tesla', 'Airstream',
       'Dot', 'Aston Martin', 'Fisker', 'Lamborghini', 'Lotus'],
      dtype=object)

In [13]:
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [60]:
group = ['year', 'make', 'mmr', 'sellingprice']
df_need = pd.DataFrame(df, columns=group)
data = df_need.groupby(['year', 'make'])
data.groups

{(1982, nan): [207920, 530893], (1983, nan): [368682], (1984, 'Chevrolet'): [78404], (1984, nan): [102085, 174101, 182345, 234576], (1985, 'Chevrolet'): [41335, 41339], (1985, nan): [41336, 166358, 281625, 293303, 473480, 488121, 552718, 556442], (1986, 'Chevrolet'): [95346], (1986, 'Mercedes-Benz'): [7731], (1986, nan): [41338, 182344, 191462, 207919, 293301, 348259, 440142, 530892, 547229], (1987, 'Mercedes-Benz'): [5267], (1987, nan): [41340, 41341, 68235, 191464, 331792, 460004, 530894], (1988, nan): [60242, 143821, 166355, 166356, 167910, 191465, 234575, 234577, 281626, 348260, 385544], (1989, 'Chevrolet'): [109983, 137436], (1989, 'Mercedes-Benz'): [5278, 5285], (1989, 'Toyota'): [5271, 60238], (1989, nan): [5274, 109985, 207432, 218171, 218175, 234566, 234569, 234572, 281627, 335774, 449722, 449723, 462886, 481527], (1990, 'Cadillac'): [109986], (1990, 'Chevrolet'): [7720, 30255, 41337, 49557, 293302, 363610, 435610, 552716], (1990, 'Honda'): [30250, 30281, 60235, 78403, 166359, 207921, 460000, 481528, 530870, 547231], (1990, 'Jaguar'): [462885], (1990, 'Lexus'): [30270, 49555, 60241, 137434, 218178, 234565, 321801], (1990, 'Mazda'): [207434, 321804, 385540, 394764, 445207], (1990, 'Mercedes-Benz'): [60240, 411101], (1990, 'Nissan'): [102083, 109984, 300938], (1990, 'Toyota'): [30242, 30271, 49556, 86713, 137426, 137435, 394762, 399830], (1990, nan): [187571, 234571, 361577, 553521], (1991, 'BMW'): [394760], (1991, 'Buick'): [30265, 49479, 109980], (1991, 'Cadillac'): [137431, 207433, 265412, 547230], (1991, 'Chevrolet'): [49466, 84854, 137432, 460002, 513408], (1991, 'Ford'): [547232], (1991, 'Honda'): [49476, 60234, 156322, 166349, 166357, 174100, 265411, 321807, 513406, 547233], (1991, 'Lexus'): [5289, 95345, 166352, 372938], (1991, 'Lincoln'): [143819, 156321], (1991, 'Mazda'): [60239, 78388, 166350, 530886], (1991, 'Mercedes-Benz'): [30243, 30245, 49472, 137428, 218176, 335773, 379368, 394765, 412661, 459999], (1991, 'Nissan'): [30264, 452280], (1991, 'Oldsmobile'): [445209], (1991, 'Toyota'): [30254, 30259, 30267, 30268, 49470, 49486, 60236, 60237, 78385, 137429, 156332, 265410, 308361, 337548, 382316, 385542, 460003, 503649], (1991, nan): [187573, 218179], (1992, 'BMW'): [321810], (1992, 'Buick'): [30251, 49474, 49478, 60211, 218173, 321803, 481530, 495551, 518929, 530891], (1992, 'Cadillac'): [5273, 5281, 60216, 84853, 248371, 530875], (1992, 'Chevrolet'): [95342, 131541, 171783, 174095, 179302, 445213, 513407], (1992, 'Ford'): [30274, 141827, 271258, 382313], (1992, 'Honda'): [5270, 5294, 30276, 30277, 49473, 60220, 109987, 137424, 137433, 174097, 182343, 207438, 218172, 218177, 234567, 265413, 281617, 300929, 329778, 379369, 530876, 552720], (1992, 'Jeep'): [30279, 218174], (1992, 'Lexus'): [7730, 30241, 30246, 30248, 30249, 30260, 49484, 95344, 137430, 166348, 166353, 187568, 248372, 356147, 385537, 404956, 459998, 460001, 530885], (1992, 'Lincoln'): [84850, 300935, 552721], (1992, 'Mazda'): [137425, 368681, 385539, 552717], (1992, 'Mercedes-Benz'): [30263, 137427, 234574], (1992, 'Mercury'): [78396, 109981, 248369, 399824], (1992, 'Nissan'): [293295], (1992, 'Oldsmobile'): [5296, 385538, 530882], (1992, 'Pontiac'): [394761, 394767], (1992, 'Saturn'): [84855], (1992, 'Toyota'): [5275, 5286, 30256, 30257, 30273, 30280, 49475, 60217, 60218, 60222, 60224, 95343, 102084, 143820, 166351, 166354, 171791, 234563, 265409, 300934, 321802, 321806, 329775, 335772, 354820, 368680, 402164, 414972, 473475, 481529, 508132], (1992, nan): [131555, 171782, 174094, 207439, 361578, 399833, 425509, 508131, 552719], (1993, 'Acura'): [5287, 171784, 179300], (1993, 'Buick'): [30181, 30229, 60219, 348251], (1993, 'Cadillac'): [30192, 179298, 281612, 412662, 443814], (1993, 'Chevrolet'): [30205, 30213, 49483, 102082, 207425, 329766, 329774, 348250, 387320, 445208, 511461], (1993, 'Ford'): [5269, 30247, 30252, 30266, 30278, 95338, 109982, 166346, 167908, 187564, 215348, 215349, 321800, 354817, 409936, 416794, 473471], (1993, 'GMC'): [49461, 321805], (1993, 'Geo'): [5288, 361574], (1993, 'Honda'): [30244, 30253, 30269, 49463, 49471, 131550, 131553, 207436, 234568, 234570, 248370, 271257, 281619, 329777, 329779, 354814, 385541, 394756, 407718, 414973, 420491, 445214, 473478, 508134, 530888, 555483], (1993, 'Infiniti'): [49469, 131556, 337547], (1993, 'Jeep'): [41330, 60215, 95331, 131551, 131552, 131559, 166338, 281615, 399829], (1993, 'Lexus'): [5279, 30261, 49485, 131545, 166333, 167907, 215351, 368679, 394768, 399825], (1993, 'Lincoln'): [187567, 187574, 300932], (1993, 'Mazda'): [84849, 131547, 207437, 449724], (1993, 'Mercedes-Benz'): [95330, 174096, 234573, 271259, 402744, 404957, 445211, 530879], (1993, 'Mercury'): [49467, 49487, 207435], (1993, 'Nissan'): [68231, 281616, 293297, 293299, 323948, 361570, 382314], (1993, 'Oldsmobile'): [5280, 30272, 73064, 102080, 459993], (1993, 'Pontiac'): [385543], (1993, 'Saturn'): [5272, 5284, 7721, 426490], (1993, 'Toyota'): [30262, 49464, 49481, 60223, 73066, 95340, 131544, 131549, 131557, 137419, 137420, 156325, 166336, 166347, 171786, 179299, 187565, 187566, 187572, 187575, 191463, 207918, 215347, 234561, 234564, 293294, 293298, 293300, 300930, 300933, 321808, 331791, 354821, 361572, 361575, 363609, 372940, 372941, 394763, 394766, 411889, 459990, 473479, 481526, 495548, 496376, 551673, 556443], (1993, 'Volvo'): [49482, 281622], (1993, nan): [30235, 30258, 30275, 60221, 150305, 166332, 166337, 166340, 207431, 218167, 241047, 281611, 281620, 281621, 281623, 293296, 321809, 329776, 361573, 361576, 394758, 438459, 473474, 503650, 511460, 518926, 547218, 551669], (1994, 'Acura'): [5291, 49441, 49442, 137415, 335770, 382310, 488117, 547217, 547222, 551670], (1994, 'BMW'): [30179, 30198, 30224, 171776, 205744, 234528, 234541, 265408, 300927, 385528, 423974, 506558], (1994, 'Buick'): [30182, 41323, 49435, 60226, 166328, 171777, 205737, 215295, 305220, 337545, 361568, 399828], (1994, 'Cadillac'): [30189, 30210, 102061, 107458, 335764, 392947, 488109, 557327], (1994, 'Chevrolet'): [30169, 30190, 30209, 30220, 30221, 68220, 68221, 131513, 131521, 166317, 379366, 459995, 496378, 530889], (1994, 'Chrysler'): [182340, 293293, 403207], (1994, 'Dodge'): [30236, 60205], (1994, 'Ford'): [5282, 7722, 7725, 30172, 30174, 30180, 30218, 41325, 49434, 60212, 60227, 60230, 68233, 78392, 131523, 131531, 131532, 150308, 156326, 156329, 166334, 166896, 171775, 179294, 182342, 205740, 207427, 218168, 234526, 234536, 234556, 254830, 261217, 281618, 298696, 308356, 308358, 308359, 308360, 329771, 335769, 335771, 354816, 361566, 379360, 392945, 399826, 399832, 462881, 474762, 495550, 502159, 506556], (1994, 'GMC'): [30170], (1994, 'Geo'): [30233, 109975, 281614], (1994, 'Honda'): [30178, 30199, 30208, 30231, 30237, 30239, 41329, 41334, 49460, 49477, 60207, 78384, 78395, 84845, 95312, 95318, 95322, 95323, 95324, 95329, 95341, 102081, 107460, 131515, 131524, 131535, 131554, 137417, 137418, 137421, 166342, 166344, 182339, 207428, 207916, 218166, 234529, 234549, 271238, 281624, 290612, 300928, 321795, 329770, 340976, 348255, 354818, 379355, 379356, 379358, 385529, 386796, 386926, 402162, 403392, 433228, 445210, 459992, 466300, 473473, 474763, 481525, 488115, 502163, 503652, 508130, 518921, 557328], (1994, 'Infiniti'): [30207, 30223, 234557, 414971], (1994, 'Isuzu'): [41332, 68234, 207917, 530871], (1994, 'Jeep'): [30188, 30201, 49459, 49480, 60210, 95335, 131561, 143817, 290605, 290610, 459984], (1994, 'Lexus'): [5268, 5292, 7723, 30176, 49465, 131538, 234530, 298695, 340977, 356529, 361571, 363607, 385527, 392950, 402163], (1994, 'Lincoln'): [60209, 131540, 187569, 335766], (1994, 'Mazda'): [49468, 95337, 131546, 131548, 179297, 290606, 337546, 502158], (1994, 'Mercedes-Benz'): [5276, 5283, 30217, 41326, 49462, 60208, 166339, 207422, 207424, 207430, 248364, 290607, 300931, 386797, 407519, 409089, 423975, 425507, 547212], (1994, 'Mercury'): [5277, 60206, 84851, 95332, 131560, 137422, 156331, 187563, 234527, 234546, 248368, 405621, 547223], (1994, 'Mitsubishi'): [60204], ...}

In [61]:
result = data.mean().reset_index()
result

     year           make           mmr  sellingprice
0    1984      Chevrolet   3300.000000   3100.000000
1    1985      Chevrolet   2162.500000   3875.000000
2    1986      Chevrolet   5000.000000   8600.000000
3    1986  Mercedes-Benz   1625.000000   1400.000000
4    1987  Mercedes-Benz    550.000000    300.000000
..    ...            ...           ...           ...
884  2015          Smart   9750.000000   9166.666667
885  2015         Subaru  24676.694915  24541.313559
886  2015         Toyota  19977.215190  19302.995781
887  2015     Volkswagen  17110.317460  15184.831461
888  2015          Volvo  26178.337531  26107.682620

[889 rows x 4 columns]

In [107]:
temp1 = df_need.groupby('year')['mmr'].mean()
temp2 = df_need.groupby('year')['sellingprice'].mean()
result_fluc = pd.concat([temp1, temp2], axis=1)
result_fluc.columns = ['MMR', 'Sellingprice']
result_fluc = result_fluc.reset_index()
result_fluc

    year           MMR  Sellingprice
0   1982   4925.000000  12750.000000
1   1983   6050.000000   5250.000000
2   1984   2185.000000   2160.000000
3   1985   3300.000000   3520.000000
4   1986   2359.090909   2538.636364
5   1987   1793.750000   1512.500000
6   1988   2990.909091   3168.181818
7   1989   1683.750000   1620.000000
8   1990   1694.387755   1435.714286
9   1991   1195.895522    943.656716
10  1992    991.666667    991.666667
11  1993    844.756098    833.902439
12  1994    947.512755    870.599490
13  1995    980.625879    913.292546
14  1996   1001.615746    985.781434
15  1997   1172.946313   1157.454722
16  1998   1299.069335   1261.719404
17  1999   1595.249777   1533.696105
18  2000   1862.932849   1827.834130
19  2001   2190.425943   2131.014224
20  2002   2676.242923   2611.709315
21  2003   3505.665989   3447.268654
22  2004   4401.326260   4321.474455
23  2005   4991.101477   4893.989857
24  2006   6299.358117   6190.204808
25  2007   8114.740639   8021.969687
26  2008   9633.394705   9508.054092
27  2009  10581.613577  10462.313295
28  2010  12544.195771  12412.453313
29  2011  16025.586533  15851.677185
30  2012  16792.560085  16653.749836
31  2013  17665.157141  17476.602700
32  2014  20338.425766  20090.200535
33  2015  26548.501753  25932.117198

In [134]:
from bokeh.plotting import figure, output_file, show, ColumnDataSource
from bokeh.models import ColumnDataSource, Slider, HoverTool, CustomJS
from bokeh.layouts import column, row, Spacer, layout

In [186]:
new_data = {
    "year": result_fluc['year'],
    "mmr": result_fluc['MMR'],
    "selling_price": result_fluc['Sellingprice']
} 

# Load data
source = ColumnDataSource(data=data)

# Create a figure
p = figure(title="Fluctuation Chart of Average Selling Price and MMR by Year", x_axis_label="Year", y_axis_label="Price")

# Add lines
p.line(x="year", y="mmr", color="blue", source=source, line_width=2,)
p.line(x="year", y="selling_price", color="red", source=source, line_width=2,)

# Add a hover tool
hover = HoverTool(tooltips=[
    ("Year", "@year"),
    ("MMR", "@mmr{0.00}"),
    ("Selling Price", "@selling_price{0.00}"),
])
p.add_tools(hover)

# Set up layout and output
output_file("bokeh_chart.html")
show(p)

In [118]:
result

     year           make           mmr  sellingprice
0    1984      Chevrolet   3300.000000   3100.000000
1    1985      Chevrolet   2162.500000   3875.000000
2    1986      Chevrolet   5000.000000   8600.000000
3    1986  Mercedes-Benz   1625.000000   1400.000000
4    1987  Mercedes-Benz    550.000000    300.000000
..    ...            ...           ...           ...
884  2015          Smart   9750.000000   9166.666667
885  2015         Subaru  24676.694915  24541.313559
886  2015         Toyota  19977.215190  19302.995781
887  2015     Volkswagen  17110.317460  15184.831461
888  2015          Volvo  26178.337531  26107.682620

[889 rows x 4 columns]

In [167]:
result[result['year'] == 1985]

   year       make     mmr  sellingprice
1  1985  Chevrolet  2162.5        3875.0

# Định nghĩa hàm cập nhật dữ liệu cho biểu đồ
def update(attr, old, new):
    selected_year = slider.value
    new_data = result[result['year'] == selected_year]
    source.data = ColumnDataSource(data=new_data).data
    print(new_data)

# Gán hàm cập nhật vào sự kiện thay đổi của thanh trượt
slider.on_change("value", update)

In [181]:

# Đọc dữ liệu từ DataFrame hoặc tạo ColumnDataSource
source = ColumnDataSource(data=result)

# Tạo một biểu đồ cột
p = figure(x_range=result['make'].unique(), title="MMR and Selling Price by Make",
           tools="pan,box_zoom,wheel_zoom,reset,save", width=1000, height=600)

# Vẽ cột cho MMR và giá bán
p.vbar(x='make', top='mmr', width=0.4, source=source, color='green', legend_label='MMR', hover_fill_alpha=0.5, hover_fill_color='lightgreen')
p.vbar(x='make', top='sellingprice', width=0.4, source=source, color='purple', legend_label='Selling Price', hover_fill_alpha=0.5, hover_fill_color='violet')

# Cấu hình biểu đồ
p.xgrid.grid_line_color = None
p.y_range.start = 0
p.xaxis.axis_label = "Make"
p.yaxis.axis_label = "Value"
p.legend.location = "top_left"
p.legend.click_policy = "hide"

# Thêm HoverTool để hiển thị thông tin chi tiết
hover = HoverTool(tooltips=[("Make", "@make"), ("MMR", "@mmr"), ("Selling Price", "@sellingprice")])
p.add_tools(hover)

# Tạo thanh trượt
slider = Slider(start=min(result['year']), end=max(result['year']), value=min(result['year']), step=1, title="Select Year")

callback = CustomJS(args=dict(source=source, slider=slider), code="""
    const year = slider.value;
    const data = source.data;
    const new_data = {
        make: [],
        mmr: [],
        sellingprice: [],
        year: []
    };
    for (var i = 0; i < data['year'].length; i++) {
        if (data['year'][i] == year) {
            new_data['make'].push(data['make'][i]);
            new_data['mmr'].push(data['mmr'][i]);
            new_data['sellingprice'].push(data['sellingprice'][i]);
            new_data['year'].push(data['year'][i]);
        }
    }
    source.data = new_data;
    console.log("Selected year:", year);
""")

hover = HoverTool(tooltips=[("Make", "@make"), ("MMR", "@mmr"), ("Selling Price", "@sellingprice"), ("Year", "@year")])
p.add_tools(hover)

slider.js_on_change("value", callback)

p.xaxis.major_label_orientation = 45

# Tạo layout và hiển thị biểu đồ
p_1 = column(p, slider)
output_file("bar_chart_with_slider.html")
show(p_1)

In [187]:
# Read data
source = ColumnDataSource(data=result)

# Create bar chart
p = figure(x_range=result['make'].unique(), title="MMR and Selling Price by Make",
           tools="pan,box_zoom,wheel_zoom,reset,save", width=1000)

# Draw a bar chart for MMR and selling price and add the HoverTool tool
p.vbar(x='make', top='mmr', width=0.4, source=source, color='blue', legend_label='MMR', hover_fill_alpha=0.5, hover_fill_color='lightblue')
p.vbar(x='make', top='sellingprice', width=0.4, source=source, color='red', legend_label='Selling Price', hover_fill_alpha=0.5, hover_fill_color='salmon')

# Setting
p.xgrid.grid_line_color = None
p.y_range.start = 0
p.xaxis.axis_label = "Make by"
p.yaxis.axis_label = "Value"
p.legend.location = "top_left"
p.legend.click_policy = "hide"

# Add hover to show data in detail
hover = HoverTool(tooltips=[("Make", "@make"), ("MMR", "@mmr"), ("Selling Price", "@sellingprice"), ("Year", "@year")])
p.add_tools(hover)

# Slider
slider = Slider(start=min(result['year']), end=max(result['year']), value=min(result['year']), step=1, title="Select Year")

# Callback
callback = CustomJS(args=dict(source=source, slider=slider), code="""
    const year = slider.value;
    const data = source.data;
    const new_data = {
        make: [],
        mmr: [],
        sellingprice: [],
        year: []
    };
    for (var i = 0; i < data['year'].length; i++) {
        if (data['year'][i] == year) {
            new_data['make'].push(data['make'][i]);
            new_data['mmr'].push(data['mmr'][i]);
            new_data['sellingprice'].push(data['sellingprice'][i]);
            new_data['year'].push(data['year'][i]);
        }
    }
    source.data = new_data;
    source.change.emit();
""")

slider.js_on_change("value", callback)
p.xaxis.major_label_orientation = 45

# Set up layout
layout = column(p, slider)
output_file("bar_chart_with_slider.html")
show(layout)

In [ ]:
# Read data
source = ColumnDataSource(data=result)

# Create bar chart
p = figure(x_range=result['make'].unique(), title="MMR and Selling Price by Make",
           tools="pan,box_zoom,wheel_zoom,reset,save", width=1000)

# Draw a bar chart for MMR and selling price and add the HoverTool tool
p.vbar(x='make', top='mmr', width=0.4, source=source, color='blue', legend_label='MMR', hover_fill_alpha=0.5, hover_fill_color='lightblue')
p.vbar(x='make', top='sellingprice', width=0.4, source=source, color='red', legend_label='Selling Price', hover_fill_alpha=0.5, hover_fill_color='salmon')

# Setting
p.xgrid.grid_line_color = None
p.y_range.start = 0
p.xaxis.axis_label = "Make by"
p.yaxis.axis_label = "Value"
p.legend.location = "top_left"
p.legend.click_policy = "hide"

# Add hover to show data in detail
hover = HoverTool(tooltips=[("Make", "@make"), ("MMR", "@mmr"), ("Selling Price", "@sellingprice"), ("Year", "@year")])
p.add_tools(hover)

# Slider
slider = Slider(start=min(result['year']), end=max(result['year']), value=min(result['year']), step=1, title="Select Year")

# Callback
callback = CustomJS(args=dict(source=source, slider=slider), code="""
    ...
""")
slider.js_on_change("value", callback)

# Set up layout
p.xaxis.major_label_orientation = 45
layout = column(p, slider)
output_file("bar_chart_with_slider.html")
show(layout)